@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151515;
  overflow-x: hidden;
}

.btntools{
  background-color: #3e3e3e;
  cursor: pointer;
  width: 85%;
  margin: 3px auto;
  padding: 1px 3px;
}

h1{
  font-size: 1.5rem;
}

.mantine-1a5b1k{
  pointer-events: unset;
}

.propertyContainer{
  border:1px solid white;
  display:flex;
  align-items: center;
}

.propertyKey{
  width:40%;
  border-right:1px solid white;
  height:2.25rem;
  line-height:2.25rem;
}